.dashboard-card{
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
    background-color: #fff;
    padding: 1em;
    height: 278px;
    position: relative;
    width: 95%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    .card-heading{
        font-size: 22px;
    }
    .card-value{
        font-size: 64px;
        font-weight: 600;
        
        span{
            font-size: 32px;
            // color: #000000;
        }
    }
    .value-in{
        color: #008ddf;
    }
    .value-out{
        color: #58fb00;
    }
}
.generate-button{
    // position: absolute;
    bottom: 0;
    width: 220px;
    height: 50px;
    text-align: center;
    margin: 20px 0;
}