<div class="container-fluid">
    <div class="row mt-5 px-3" *ngIf="!isGenerated">
        <div class="col-md-3">
            <div class="form-group">
                <label for="phone">DAM - Water Rate(Unit/min)</label>
                <input 
                    type="number" 
                    name="water-rate" 
                    class="form-control" 
                    id="water-rate" 
                    [(ngModel)]="waterRate" required
                >
            </div>
        </div>
    </div>  
    <div class="row" *ngIf="!isGenerated">
        <div class="col-md-6 text-center">
            <div class="dashboard-card">
                <div class="card-body">
                    <p class="card-heading">WATER IN DAM</p>
                    <p class="card-value value-in">{{waterInDam[0]?.payload.doc.data().water_level}} <span>Unit</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-6 text-center">
            <div class="dashboard-card">
                <div class="card-body"> 
                    <p class="card-heading">TOTAL REQUEST</p>
                    <p class="card-value value-out">{{totalRequest ? totalRequest : 0}}<span>Unit</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-primary generate-button" (click)="generate()">Generate</button>
        </div>
    </div>
    <div class="row mt-5" *ngIf="isGenerated">
        <div class="col-md-6 text-center">
            <div class="dashboard-card">
                <div class="card-body">
                    <p class="card-heading">WATER FLOWING RATE</p>
                    <p class="card-value value-in">{{waterRate}} <span>Unit/min</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-6 text-center">
            <div class="dashboard-card">
                <div class="card-body">
                    <p class="card-heading">TIME REMAINING</p>
                    <p class="card-value" [ngStyle]="{'color': (remainingTime) ? '#58fb00' : 'red'}">{{remainingTime}} <span>Min</span></p>
                </div>
            </div>
        </div>
            <table class="table" style="margin: 40px auto; width: 95%; border: solid;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">NAME</th>
                        <th scope="col">METER ID</th>
                        <th scope="col">REQUESTED VALUE</th>
                        <th scope="col">AVERAGE USE</th>
                        <th scope="col">SUB GATE <br><span style="font-size: 12px;">(FLOWING RATE)</span> </th>
                        <th scope="col">USER <br> FLOWING RATE</th>
                        <th scope="col">TIME REMAINING</th>
                        <th scope="col">SLIP METER STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let request of requestList; let i = index">
                        <th class="align-middle" scope="row">{{i+1}}</th>
                        <td class="align-middle">{{ request.payload.doc.data().name }}</td>
                        <td class="align-middle">{{ request.payload.doc.data().meter_id }}</td>
                        <td class="align-middle">{{ request.payload.doc.data().request_value }}</td>
                        <td class="align-middle">{{ request.payload.doc.data().avg_use }}</td>
                        <td class="align-middle">{{ request.payload.doc.data().sub_gate_name }} <br> <span style="font-size: 12px;">({{request.sub_gate_rate}} Unit/min)</span></td>
                        <td class="align-middle">{{ request.water_rate | number  : '1.2-2' }} Unit/min</td>
                        <td class="align-middle">{{ request.remaining_time }} Min</td>
                        <td class="align-middle">
                            <span style="color: red;" *ngIf="!request.remaining_time">Closed</span> 
                            <span style="color: #58fb00;;" *ngIf="request.remaining_time">Open</span> 
                        </td>
                    </tr>
                    <tr *ngIf="requestList.length === 0">
                        <td colspan="8" class="align-middle text-center">No data found!</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
