<div class="container">
    <div class="row justify-content-center p-4">
        
        <div class="col-md-6">
            <h3 class="p-2">Register</h3>
            <form (ngSubmit)=register()>
                <div class="form-group p-2">
                    <input type="email" name="login" class="form-control" [(ngModel)]="email" placeholder="Enter Email" required>
                </div>
                <div class="form-group p-2">
                    <input type="password" name="login" class="form-control" [(ngModel)]="password" placeholder="Enter Password" required>
                </div>
                <div class="p-2">
                    <p *ngIf="errorMessage.length > 0" class="text-danger">
                        {{errorMessage}}
                    </p>
                    <p *ngIf="error.message.length > 0" class="text-danger">
                        {{error.message}}
                    </p>
                </div>
                <div class="form-group p-2">
                    <button type="submit" class="btn btn-primary">Register</button>
                    <div class="register p-1">
                        <a href="#" routerLink="/login">Back to Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
