<div class="container-fluid">
    <table class="table" style="width: 100%; margin: 20px auto; border: solid;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">NAME</th>
                <th scope="col">METER ID</th>
                <th scope="col">DATE</th>
                <th scope="col">REQUESTED VALUE</th>
                <th scope="col">AVERAGE USE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of requestList; let i = index">
                <th class="align-middle" scope="row">{{i+1}}</th>
                <td class="align-middle">{{ request.payload.doc.data().name }}</td>
                <td class="align-middle">{{ request.payload.doc.data().meter_id }}</td>
                <td class="align-middle">{{ request.payload.doc.data().date }}</td>
                <td class="align-middle">{{ request.payload.doc.data().request_value }}</td>
                <td class="align-middle">{{ request.payload.doc.data().avg_use }}</td>
            </tr>
            <tr *ngIf="requestList.length === 0">
                <td colspan="6" class="align-middle text-center">No data found!</td>
            </tr>
        </tbody>
    </table>
</div>
