<div class="container-fluid">
    <div class="row my-4">
        <div class="col-md-12">
            <button type="button" class="btn btn-dark float-right" (click)="addNewUser()">Add User</button>
        </div>
    </div>
    <table class="table" style="width: 100%; margin: 20px auto; border: solid;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">NAME</th>
                <th scope="col">METER ID</th>
                <th scope="col">EMAIL</th>
                <th scope="col">PHONE</th>
                <th scope="col">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList; let i = index">
                <th class="align-middle" scope="row">{{i+1}}</th>
                <td class="align-middle user-name-link" (click)="getUserConsumption(user.payload.doc.data().userid)">
                    {{ user.payload.doc.data().name }}
                </td>
                <td class="align-middle">{{ user.payload.doc.data().meter_id }}</td>
                <td class="align-middle">{{ user.payload.doc.data().email }}</td>
                <td class="align-middle">{{ user.payload.doc.data().phone }}</td>
                <td class="align-middle"><button type="button" class="btn btn-danger" (click)="deleteUser(user)">Delete</button></td>
            </tr>
            <tr *ngIf="userList.length === 0">
                <td colspan="6" class="align-middle text-center">No data found!</td>
            </tr>
        </tbody>
    </table>
</div>
