.login,
.image {
  min-height: 93.9vh;;
}

.bg-image {
  // background-image: url('../../../assets/images/login.svg');
  background-size: cover;
  background-position: center center;
  background-color: #212529a8;
}